.survey-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-indeX: 100;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .25s, z-index 0.25s;

    &__close {
        display: none;

        &:checked + .survey-modal {
            opacity: 0;
            z-index: -1;
            pointer-events: none;

            .survey-modal__content {
                top: 45%;
            }
        }
    }

    &__content {
        padding: 1em;
        border-radius: 2px;
        background: rgb(255, 255, 255);
        width: 400px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transition: all .25s;

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
    }
}
