/* --------------------------------------------------------------
   Nails Custom Forms Module Admin Styles
-------------------------------------------------------------- */

.group-survey {
    &.browse {
        table {
            th.id,
            td.id {
                width: 75px;
                text-align: center;
            }
            th.actions,
            td.actions {
                width: 280px;
            }
        }
    }
    &.responses {
        .stats,
        .respondents {
            box-sizing: border-box;
            transition: width 0.5s;
            > div {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .stats {
            width: 50%;
            float: left;
            .js-show-respondents {
                display: none;
            }
            &.respondents-hidden {
                width: 100%;
                .js-show-respondents {
                    display: inline-block;
                }
            }
        }
        .respondents {
            width: 50%;
            float: right;
            overflow: hidden;
            &.respondents-hidden {
                width: 0%;
            }
        }
        table {
            td.include-response {
                text-align: center;
                min-width: 20px;
                max-width: 20px;
            }
        }
        .chart-type {
            display: inline-block;
            .select2 {
                width: 125px;
                margin-top: -4px;
            }
        }
        .panel-sub-heading {
            background: #f8f8f8;
            padding: 1em 0;
            margin-top: -15px;
            border-bottom:1px solid #EFEFEF;
        }
        .alert-danger {
            margin: 0;
        }
        .loading-pulse {
            animation: loading-pulse 1s linear 1s infinite alternate;
            color: #CCC;
            @-webkit-keyframes loading-pulse
            {
                0% {
                    color: #000;
                }
                100% {
                    color: #CCC;
                }
            }
            @keyframes loading-pulse
            {
                0% {
                    color: #CCC;
                }
                100% {
                    color: #000;
                }
            }
        }
        .target-chart {
            text-align: center;
            overflow: hidden;
            .alert-error {
                text-align: left;
            }
        }
        .target-text {
            margin: 0;
            margin-top: 1em;
            border: 1px solid #CCC;
            border-radius: 2px;
            list-style: none;
            padding: 0;
            max-height: 500px;
            overflow: auto;
            li {
                padding: 10px;
                margin: 0;
                border-bottom: 1px solid #CCC;
                .count {
                    float: right;
                    background: #CCC;
                    font-size: 0.8em;
                    padding: 0 0.5em;
                    border-radius: 3px;
                    font-weight: bold;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}